div.sheet-view
	section.sheet-toolbox(data-dragn-container, data-dragn-draggable)
		h3 Toolbox
		div.sheet-text-box(data-dragn-draggable)
		div.sheet-number-box(data-dragn-draggable)
	div.sheet-container
		section.sheet(data-dragn-container) {{sheet.name}}
