$default-font-color: #222;
$default-spacing-size: 12px;
$nav-height: 44px;

body {
	color: $default-font-color;
	background-color: #f0f0f0;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: $default-font-color;
}

nav {
	height: $nav-height;
	line-height: $nav-height;
	background: #333435;
	padding-left: $default-spacing-size;
}

nav a {
	color: #eee;
	text-decoration: none;
}

#main-content {
	max-width: 1100px;
	margin: 0 auto;
}

.system-detail {
	padding: 0 $default-spacing-size;

	.concepts-list-container, .entities-list-container, .sheets-list-container {
		width: 33%;
		float: left;
	}
}

.systems-table {
	width: 100%;

	td {
		vertical-align: middle;
	}

	.delete-sheet {
		float: right;
	}
}

.sheet-toolbox {
	background: #fff;
	position: absolute;
	top: $nav-height;
	left: 0;
	bottom: 0;
	width: 200px;
	padding: $default-spacing-size;
	border-right: 2px solid #eee;
}

.drag-box {
	background: #f0f;
	width: 80px;
	height: 80px;
}

.sheet-text-box {
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 4px;
	padding: 4px 8px;
	width: 100px;
	height: 20px;
	line-height: 20px;
}

.sheet-container {
	margin-left: 224px;
	padding: 24px 0;
}

.sheet {
	width: 700px;
	margin: 0 auto;
	background: #fefefe;
	height: 900px;
	-webkit-box-shadow: 1px 1px 30px #ddd;
	border: 1px solid #ddd;
	padding: 24px;
}